DB_HOST=postgres
DB_PORT=5432
DB_USER=grocery_user
DB_PASS=grocery_pass
DB_NAME=grocery_db
JWT_SECRET=supersecretkey_change_in_production
JWT_EXPIRES_IN=7d
PORT=3000
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
