PORT=3000
NODE_ENV=production

# Database
DB_HOST=${DB_HOST}
DB_PORT=5432
DB_USER=${DB_USER}
DB_PASS=${DB_PASS}
DB_NAME=${DB_NAME}

# JWT
JWT_SECRET=${JWT_SECRET}
JWT_EXPIRES_IN=${JWT_EXPIRES_IN}

# Docker
DOCKER_SERVICE_NAME=${DOCKER_SERVICE_NAME}
DOCKER_USER=${DOCKER_USER}
